* {
  box-sizing: border-box;
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
  font-size: 1em;
  vertical-align: center;
  text-align: left;
  font-weight: normal;
  list-style-type: none;
  text-decoration: none;
  border: none;
  outline: none;
  resize: none;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/* horizontal menu */

nav ul {
  margin: 0;
  padding: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  list-style-type: none;
  overflow: visible;
}

nav ul li {
  display: block;
  float: left;
  height: auto;
  /* menu header's items width */
  width: 120px;
}

nav li > span,
nav li > a,
nav li > a:link,
nav li > a:visited,
nav li > a:active {
  display: block;
  padding: 0 0 0 10px;
  height: 100%;
  width: 109px;
  /*
  border-right: 1px #5d5636 solid;
  */

  line-height: 30px;
  text-decoration: none;
  /*
  background-color: #fffabf;
  */

  cursor: pointer;
}

nav li:hover > span,
nav li:hover > a {
  color: #220000;
  background-color: var(--dark);
}

/* vertical sub-menus */

nav ul ul {
  margin-top: 2px;
  display: none;
  position: static;
  height: auto;
  /* vertical-menus width */
  width: 160px;
  border: 1px #666666 solid;
  background-color: #dddddd;
}

nav li:hover > ul {
  display: block;
}

nav ul ul li {
  position: relative;
  float: none;
  display: block;
  height: 28px;
  width: 100%;
  border: none;
}

nav ul ul li > span,
nav ul ul li > a,
nav ul ul li > a:link,
nav ul ul li > a:visited,
nav ul ul li > a:active {
  height: 100%;
  width: 96%;
  padding: 0 0 0 4%;
  line-height: 28px;
  background-color: transparent;
  border: none;
  color: #000000;

  font-style: normal;
}

nav ul ul li:hover > span,
nav ul ul li:hover > a {
  background-color: #cccccc;
}

/* vertical sub-sub-menus */

nav ul ul ul {
  /* sub-sub-menu position is relative to its parent */
  position: absolute;
  top: 4px;
  left: 155px;
  margin: 0;
}

/* an arrow on the right side of menu's folders */

span.child:after,
a.child:after {
  content: "\00BB";
  float: right;
  margin-right: 8px;
}

/* Layout */

body {
  background: var(--color-bg);
  color: var(--color-text);
  font-family: var(--font-primary);
  line-height: var(--line-height);
  margin: 0;
  overflow-x: hidden;
  padding: 0;
}

footer,
header,
main {
  display: block;
  border: solid;
  margin: 0 auto;
  max-width: var(--width-content);
  /*  padding: 3rem 1rem;*/
}

header {
  max-height: 89px;
}

nav {
  width: max-content;
  padding-left: 0;
  background-color: blue;
  list-style: none;
}
ul {
  display: block;
  border: black;
  width: max-content;
  padding-left: 1.4em;
  margin-top: 0px;
  margin-bottom: 2.5rem;
}

li {
  width: max-content;
  margin-bottom: 0.4em;
}
section {
  display: flex;
  flex-wrap: wrap;
  justify-content: var(--justify-important);
}

section img,
article img {
  max-width: 100%;
}

section pre {
  overflow: auto;
}

section aside {
  border: 1px solid var(--color-bg-secondary);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow) var(--color-shadow);
  margin: 1rem;
  padding: 1.25rem;
  width: var(--width-card);
}

section aside:hover {
  box-shadow: var(--box-shadow) var(--color-bg-secondary);
}

.container {
  border: 2px solid #ccc;
  padding: 10px;
  width: 20em;
}

.item {
  width: -moz-fit-content;
  width: fit-content;
  background-color: #8ca0ff;
  padding: 5px;
  margin-bottom: 1em;
}

area {
  display: none;
}

embed:focus {
  outline: none;
}

iframe:focus {
  outline: none;
}

iframe[seamless] {
  display: block;
}

img {
  object-fit: cover;
  border-style: solid;
  display: inline-block;
}

img,
video {
  height: auto;
  max-width: 100%;
}

link {
  display: none;
}

map {
  display: inline;
}

object:focus {
  outline: none;
}

address {
  display: block;
  font-style: italic;
}

b {
  font-weight: bold;
}

bdo {
  unicode-bidi: bidi-override;
}

blockquote {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 40px;
  margin-right: 40px;
}

cite {
  font-style: italic;
}

code {
  font-family: monospace;
}

dd {
  display: block;
  margin-left: 40px;
}

del {
  text-decoration: line-through;
}

dfn {
  font-style: italic;
}

dt {
  display: block;
}

em {
  font-style: italic;
}

h1 {
  display: block;
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

h2 {
  display: block;
  font-size: 1.5em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

h3 {
  display: block;
  font-size: 1.17em;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

h4 {
  display: block;
  margin-top: 1.33em;
  margin-bottom: 1.33em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

h5 {
  display: block;
  font-size: 0.83em;
  margin-top: 1.67em;
  margin-bottom: 1.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

h6 {
  display: block;
  font-size: 0.67em;
  margin-top: 2.33em;
  margin-bottom: 2.33em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
/*

/*
-------------------------------------------------------------------------------
2.  Typography [hm-02]
-------------------------------------------------------------------------------
*/

h1 {
  margin-top: 1rem;
  margin-bottom: 2rem;
  font-weight: 400;
}

h2 {
  margin-top: 1rem;
  margin-bottom: 2rem;
  font-weight: 400;
}

h3 {
  margin-top: 1rem;
  margin-bottom: 2rem;
  font-weight: 400;
}

h4 {
  margin-top: 1rem;
  margin-bottom: 2rem;
  font-weight: 400;
}

h5 {
  margin-top: 1rem;
  margin-bottom: 2rem;
  font-weight: 400;
}

h6 {
  margin-top: 1rem;
  margin-bottom: 2rem;
  font-weight: 400;
}
h1 {
  font-size: 4rem;
  line-height: 1.3;
}
h2 {
  font-size: 3.6rem;
  line-height: 1.35;
}
h3 {
  font-size: 3rem;
  line-height: 1.4;
}
h4 {
  font-size: 2.4rem;
  line-height: 1.45;
}
h5 {
  font-size: 1.8rem;
}
h6 {
  font-size: 1.5rem;
}
*/ kbd {
  font-family: monospace;
}

label {
  cursor: default;
}

mark {
  background-color: yellow;
  color: black;
}

p {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
}

param {
  display: none;
}

pre {
  display: block;
  font-family: monospace;
  white-space: pre;
  margin: 1em 0;
}

q {
  display: inline;
}

q::before {
  content: open-quote;
}

q::after {
  content: close-quote;
}

rt {
  line-height: normal;
}

s {
  text-decoration: line-through;
}

samp {
  font-family: monospace;
}

small {
  font-size: smaller;
}

strike {
  text-decoration: line-through;
}

strong {
  font-weight: bold;
}

sub {
  vertical-align: sub;
  font-size: smaller;
}

sup {
  vertical-align: super;
  font-size: smaller;
}

u {
  text-decoration: underline;
}

var {
  font-style: italic;
}

a:link {
  color: (internal value);
  text-decoration: none;
  cursor: auto;
}

a,
button {
  min-width: 0;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  text-decoration: none;
  font-family: var(--font-highlight);
  font-size: var(--text-normal);
}
a:visited {
  color: (internal value);
  text-decoration: none;
  cursor: auto;
}

a:link:active {
  color: (internal value);
  text-decoration: none;
}

a:visited:active {
  color: (internal value);
  text-decoration: none;
}

datalist {
  display: none;
}

details {
  display: block;
}

fieldset {
  display: block;
  margin-left: 2px;
  margin-right: 2px;
  padding-top: 0.35em;
  padding-bottom: 0.625em;
  padding-left: 0.75em;
  padding-right: 0.75em;
  border: 2px groove (internal value);
}

figcaption {
  display: block;
}

figure {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 40px;
  margin-right: 40px;
}

form {
  display: block;
  margin-top: 0em;
}

/* Forms */

button:disabled,
input:disabled {
  background: var(--color-bg-secondary);
  border-color: var(--color-bg-secondary);
  color: var(--color-text-secondary);
  cursor: not-allowed;
}

button[disabled]:hover {
  filter: none;
}

form {
  border: 1px solid var(--color-bg-secondary);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow) var(--color-shadow);
  display: block;
  max-width: var(--width-card-wide);
  min-width: var(--width-card);
  padding: 1.5rem;
  text-align: var(--justify-normal);
}

form header {
  margin: 1.5rem 0;
  padding: 1.5rem 0;
}

input,
label,
select,
textarea {
  display: block;
  font-size: inherit;
  max-width: var(--width-card-wide);
}

input[type="checkbox"],
input[type="radio"] {
  display: inline-block;
}

input[type="checkbox"] + label,
input[type="radio"] + label {
  display: inline-block;
  font-weight: normal;
  position: relative;
  top: 1px;
}

input,
select,
textarea {
  border: 1px solid var(--color-bg-secondary);
  border-radius: var(--border-radius);
  margin-bottom: 1rem;
  padding: 0.4rem 0.8rem;
}

input[readonly],
textarea[readonly] {
  background-color: var(--color-bg-secondary);
}

label {
  font-weight: bold;
  margin-bottom: 0.2rem;
}

legend {
  display: block;
  padding-left: 2px;
  padding-right: 2px;
  border: none;
}

output {
  display: inline;
}

script {
  display: none;
}

summary {
  display: block;
}
